.card {
    width:104px;
    height:128px;
    display:inline-block;
    border:1px solid #000;
    text-align:center;
    vertical-align:top;
    position:relative;
    cursor:pointer;
}

.card-name {
    height:60px;
    padding-top:20px;
}

.card img {
    position: absolute;
    top:0px;
    left:0px;
    width:104px;
    height:128px;
    z-index: 2;
}

.card-values {
    position:relative;
    padding-top: 60px;
    z-index: 3;
    color: #fff;
    text-shadow: #000 1px 1px, #000 -1px 1px, #000 -1px -1px, #000 1px -1px;
}

.card-left, .card-right {
    display:inline-block;
}

.card-left {
    margin-right:10px;
}

.empty-card {
    background:#ccc;
    color: #fff;
}

.red-card {
    background:#c0392b;
}

.blue-card {
    background:#2980b9;
}